# Node modules
node_modules/
# Next.js build output
.next/
# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
# System files
.DS_Store
# Log files
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.vscode/
